<h2><%= @restaurant.name %></h2>
<h3><%= @restaurant.address %></h3>
<h4>Reviews:</h4>
<% @restaurant.reviews.each do |r| %>
<h5><%= r.rating %></h5>
<h5><%= r.content %></h5>
<% end %>
<button class="btn btn-info"><%= link_to "Main Page", restaurants_path %></button>
<button class="btn btn-info"><%= link_to "Add Review",  new_restaurant_review_path(@restaurant) %></button>
