<div class="d-flex p-2">
  <%= simple_form_for [@restaurant, @review] do |f| %>

    <%= f.error_notification message: "Something isn't right" %>
    <div class="form-inputs">
      <%= f.input :rating %>
      <%= f.input :content %>
    </div>
    <div class="form-actions btn btn-primary">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
